<div class="col-md-3" ng-controller="addController">
	<div>
		<a href="#/add" class="btn btn-success btn-lg">Full</a>
	</div>
	<br/>
	<br/>
	<panel heading="Quick Add">
		<form role="form">
			<div class="form-group">
				<label >Name</label>
				<input type="text" class="form-control" ng-model="newPlace.name" placeholder="Enter country"></div>
			<div class="form-group">
				<label >Population</label>
				<input type="number" class="form-control" ng-model="newPlace.population" placeholder="Population"></div>
			<div class="form-group">
				<label >Continent</label>
				<input type="text" class="form-control" ng-model="newPlace.continent" placeholder="Continent"></div>
			<button ng-click="addPlace(newPlace)" class="btn btn-default">Submit</button>
		</form>
	</panel>

	

	<div>New Place : {{newPlace}}</div>
</div>