<html ng-app="emcApp">
<head>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

	<style type="text/css">
	[ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

	.loud {
		color: red;
		font-size: 65;
	}

	.extraloud {
		color: red;
		font-size: 105;
		font-style: italic;
	}
</style>
</head>
<body class="container-fluid" >
	<div class="row well" >
		<div class="col-md-8" ng-controller="greetingController">{{greeting}} <button ng-click="extraGreeting()">GREET</button></div>
		<div class="col-md-4">User Info</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<p>
				<input type="number" ng-model="decimalPlaces" />
			</p>
			<p>
				search :
				<input type="text" ng-model="searchTerm" />
			</p>
			<p>
				order :
				<input type="text" ng-model="orderTerm" />
				<input type="checkbox" ng-model="isDesc" />
				Desc
			</p>
			<p>
				limit :
				<select ng-model="limitResults">
					<option value="2">2</option>
					<option value="10">10</option>
					<option value="15">15</option>
				</select>
				<!-- <input type="number" ng-model="limitResults" />
				-->
			</p>

		</div>
		<div class="col-md-6" ng-controller="listingController">
			<div class="row" ng-class="{'highlight' : item.name === favoritePlace}" ng-repeat="item in person.placesVisited | filter : searchTerm | orderBy : orderTerm : isDesc | limitTo : limitResults" >
				<img ng-src="http://i.imgur.com/{{item.flag}}" class="col-md-2 col-sm-6" />
				<div class="col-md-4 col-sm-2" ng-class-even="'green'" ng-class-odd="'red'">{{item.name | uppercase}}</div>
				<div class="col-md-3 col-sm-2" ng-class-even="'green'" ng-class-odd="'red'">{{item.population | number : decimalPlaces }}</div>
				<div class="col-md-3 col-sm-2" ng-class-even="'green'" ng-class-odd="'red'">{{item.continent}}</div>
			</div>

		</div>
		<div class="col-md-3" ng-controller="addController">
			<p>
				<input ng-disabled="favoritePlace === 'USA'" disabled="false" ng-readonly="favoritePlace === 'Turkey'" type="text" ng-model="favoritePlace" />
			</p>
			Name : <input type="text" ng-model="newPlace.name" />
			pop : <input type="number" ng-model="newPlace.population" />
			pop : <input type="text" ng-model="newPlace.continent" />
			<button ng-click="addPlace(newPlace)">Add</button>
			<div>New Place : {{newPlace}}</div>

		</div>
	</div>

	
		<script src="js/app.js"></script>
		<script src="js/controllers/greetingController.js"></script>
		<script src="js/controllers/listingController.js"></script>
		<script src="js/controllers/addController.js"></script>
</body>
	</html>