<html ng-app="emcApp">
<head>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

	<style type="text/css">
	[ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

	.loud {
		color: red;
		font-size: 65;
	}

	.extraloud {
		color: red;
		font-size: 105;
		font-style: italic;
	}
</style>
</head>
<body class="container" >
	<div class="row well" >
		<div class="col-md-8" ng-controller="greetingController">
			{{greeting}}
			<button ng-click="extraGreeting()">GREET</button>
		</div>
		<div class="col-md-4">User Info</div>
	</div>
	<div class="row">

		<div class="col-md-9" ng-controller="listingController">
			<div >
				<input type="number" ng-model="decimalPlaces" />
				search :
				<input type="text" ng-model="searchTerm" />
				order :
				<input type="text" ng-model="orderTerm" />
				<input type="checkbox" ng-model="isDesc" />
				Desc
				limit :
				<select ng-model="limitResults">
					<option value="2">2</option>
					<option value="10">10</option>
					<option value="15">15</option>
				</select>
			</div>
			<br/>
			<br/>
			<div class="row well" ng-class="{'highlight' : item.name === favoritePlace}" ng-repeat="item in person.placesVisited | filter : searchTerm | orderBy : orderTerm : isDesc | limitTo : limitResults" >
				<img ng-src="http://i.imgur.com/{{item.flag}}" class="col-md-3 col-sm-6" />
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4 col-sm-2" ng-class-even="'green'" ng-class-odd="'red'">{{item.name | uppercase}}</div>
						<div class="col-md-3 col-sm-2" ng-class-even="'green'" ng-class-odd="'red'">{{item.population | number : decimalPlaces }}</div>
						<div class="col-md-3 col-sm-2" ng-class-even="'green'" ng-class-odd="'red'">{{item.continent}}</div>
					</div>
					<br/>
					<br/>
					<div class="row text-muted">
						<small ng-hide="item.showMore">{{item.description | limitTo : 200}}</small>
						<small ng-show="item.showMore">{{item.description}}</small>
						<span ng-show="item.description.length >
							200 && !item.showMore">
							<a href="" ng-click="showMore(item)">more...</a>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3" ng-controller="addController">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Quick Add</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label >Name</label>
							<input type="text" class="form-control" ng-model="newPlace.name" placeholder="Enter country"></div>
						<div class="form-group">
							<label >Population</label>
							<input type="number" class="form-control" ng-model="newPlace.population" placeholder="Population"></div>
						<div class="form-group">
							<label >Continent</label>
							<input type="text" class="form-control" ng-model="newPlace.continent" placeholder="Continent"></div>
						<button ng-click="addPlace(newPlace)" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>

			<div>New Place : {{newPlace}}</div>
		</div>
	</div>

	<script src="js/app.js"></script>
	<script src="js/controllers/greetingController.js"></script>
	<script src="js/controllers/listingController.js"></script>
	<script src="js/controllers/addController.js"></script>
</body>
</html>